
{
    admin off
}

tsundoku.unipota.dev
email unipota@outlook.jp
# :80

log {
    output stdout
}

root * /usr/share/caddy

handle /api/* {
    reverse_proxy backend:3000
}

handle {
    file_server
    try_files {path} /index.html
}