// colors
$tsundoku-red: #920808
$tsundoku-red-bg: rgba(255, 129, 129, 0.3)
$kidoku-blue: #085092
$kidoku-blue-bg: rgba(69, 114, 163, 0.3)
$logo-gray: #4B4B4B

#app
  --tsundoku-red: #{$tsundoku-red}
  --tsundoku-red-bg: #{$tsundoku-red-bg}
  --kidoku-blue: #{$kidoku-blue}
  --kidoku-blue-bg: #{$kidoku-blue-bg}
  --logo-gray: #{$logo-gray}
