@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese')
@import url('https://cdn.jsdelivr.net/npm/yakuhanjp@3.2.0/dist/css/yakuhanrp.min.css')

#app
  font-family: YakuHanRP, 'M PLUS Rounded 1c', -apple-system, 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50

#nav
  padding: 30px
  a
    font-weight: bold
    color: #2c3e50
    &.router-link-exact-active
      color: #42b983

.pointer
  cursor: pointer

.modal-show-mobile
  &-enter, &-leave-to
    transform: translateY(100%)
  &-enter-active, &-leave-active
    transition: transform .5s $easeInOutQuint

.modal-show-desktop
  &-enter, &-leave-to
    transform: translateX(-100%)
  &-enter-active, &-leave-active
    transition: transform .5s $easeInOutQuint