<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
</head>
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap" rel="stylesheet">

<body>
  <div class="container">
    <div class="stats-item books-count">
      <div class="stats-value">
        <p>
          <span>
            <%= Number(count).toLocaleString('ja-JP') %>
          </span>
          <span class="stats-value-unit">
            冊
          </span>
        </p>
        <div>
          <svg width="57" height="46" viewBox="0 0 57 46" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2" y="35.6041" width="38.8027" height="9.85099" rx="1" fill="#4B4B4B" />
            <rect width="44.9493" height="9.76281" rx="1"
              transform="matrix(0.26679 0.963755 -0.961586 0.274503 45.0078 0)" fill="#4B4B4B" />
            <rect x="0.614258" y="18.7166" width="34.6453" height="9.85099" rx="1" fill="#4B4B4B" />
          </svg>
        </div>
      </div>
      <div class="stats-label">
        積んだ冊数
      </div>
    </div>
    <div class="stats-item tsundoku">
      <div class="stats-value">
        <p>
          <span class="stats-value-unit">
            ¥
          </span>
          <span>
            <%= Number(tsundoku).toLocaleString('ja-JP') %>
          </span>
        </p>
        <div>
          <svg width="50" height="43" viewBox="0 0 50 43" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.07715" y="32.7007" width="38.4615" height="9.21429" rx="1" fill="#E3402A" />
            <rect y="1.08496" width="38.4615" height="9.21429" rx="1" fill="#E3402A" />
            <rect x="15.3848" y="16.8928" width="34.6154" height="9.21428" rx="1" fill="#E3402A" />
          </svg>
        </div>
      </div>
      <div class="stats-label">
        ツンドク累計額
      </div>
    </div>
    <div class="stats-item kidoku">
      <div class="stats-value">
        <p>
          <span class="stats-value-unit">
            ¥
          </span>
          <span>
            <%= Number(kidoku).toLocaleString('ja-JP') %>
          </span>
        </p>
        <div>
          <svg width="40" height="38" viewBox="0 0 40 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="38" width="38" height="9.3086" rx="1" transform="rotate(-90 0 38)" fill="#2488D0" />
            <rect x="15.3457" y="38" width="38" height="9.3086" rx="1" transform="rotate(-90 15.3457 38)"
              fill="#2488D0" />
            <rect x="30.6914" y="37.4218" width="34.2" height="9.3086" rx="1" transform="rotate(-90 30.6914 37.4218)"
              fill="#2488D0" />
          </svg>
        </div>
      </div>
      <div class="stats-label">
        キドク額
      </div>
    </div>
    <div class="logo-item">
      <svg width="239" height="65" viewBox="0 0 239 65" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M138.276 22.5654C138.185 28.4814 137.392 33.2301 135.896 36.8114C134.4 40.3927 132.099 43.1127 128.994 44.9714C125.889 46.8074 121.695 48.0201 116.414 48.6094L115.564 44.4274C119.032 43.9741 121.865 43.3054 124.064 42.4214C126.285 41.5147 128.121 40.2001 129.572 38.4774C131.023 36.7321 132.054 34.5787 132.666 32.0174C133.301 29.4561 133.652 26.2147 133.72 22.2934L138.276 22.5654ZM110.396 24.2654L114.68 23.3134C115.609 26.4414 116.629 30.2154 117.74 34.6354L113.32 35.5874C112.277 31.2127 111.303 27.4387 110.396 24.2654ZM119.576 23.1434L123.996 22.1574C124.971 25.6254 125.991 29.5241 127.056 33.8534L122.636 34.8054C121.639 30.7934 120.619 26.9061 119.576 23.1434Z"
          fill="#4B4B4B" />
        <path
          d="M145.79 25.8294L147.966 21.7494C151.389 23.3814 154.902 25.2061 158.506 27.2234L156.228 31.2354C153.191 29.5354 149.711 27.7334 145.79 25.8294ZM168.74 25.0134L173.058 25.9654C171.857 32.6974 169.137 37.8767 164.898 41.5034C160.659 45.1301 154.766 47.2721 147.218 47.9294L146.538 43.5094C153.111 42.8747 158.155 41.0841 161.668 38.1374C165.204 35.1681 167.561 30.7934 168.74 25.0134Z"
          fill="#4B4B4B" />
        <path
          d="M199.68 27.7334L195.838 29.5694C194.931 27.8241 193.877 25.8634 192.676 23.6874L196.518 21.7494C197.538 23.6081 198.592 25.6027 199.68 27.7334ZM205.698 26.5094L201.788 28.3794C200.836 26.4981 199.759 24.4921 198.558 22.3614L202.468 20.3894C203.919 23.0641 204.995 25.1041 205.698 26.5094ZM182.476 21.3074H187.236V30.8274C193.129 32.2554 199.295 34.1481 205.732 36.5054L204.304 40.7894C198.637 38.6814 192.948 36.9134 187.236 35.4854V49.3914H182.476V21.3074Z"
          fill="#4B4B4B" />
        <path
          d="M233.816 27.8694H222.494C221.066 31.4961 218.822 34.7714 215.762 37.6954L212.532 34.9414C214.504 32.9921 216.113 30.7594 217.36 28.2434C218.629 25.7047 219.423 23.1207 219.74 20.4914L224.16 20.7294C224.069 21.6814 223.911 22.7014 223.684 23.7894H238.678V24.5714C238.678 32.4821 236.876 38.3187 233.272 42.0814C229.668 45.8441 223.877 48.0541 215.898 48.7114L215.218 44.6314C221.587 43.9967 226.177 42.4327 228.988 39.9394C231.821 37.4461 233.431 33.4227 233.816 27.8694Z"
          fill="#4B4B4B" />
        <rect x="2" y="50.2241" width="55.9331" height="13.8961" rx="3" fill="#4B4B4B" />
        <rect width="63.5064" height="14.0504" rx="3" transform="matrix(0.272196 0.962242 -0.963124 0.269059 63.9951 0)"
          fill="#4B4B4B" />
        <rect x="0.00244141" y="26.4022" width="49.9403" height="13.8961" rx="3" fill="#4B4B4B" />
      </svg>
    </div>
  </div>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html {
      font-family: 'M PLUS Rounded 1c', 'sans-serif';
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 1200px;
      height: 630px;
      padding: 64px 32px;
    }

    .stats-item {
      flex-shrink: 0;
      width: 480px;
      border-radius: 32px;
      padding: 28px 32px;
      margin: 16px;
    }

    .stats-value {
      display: flex;
      justify-content: space-between;
      font-size: 48px;
      font-weight: bold;
    }

    .stats-value-unit {
      font-size: 38px;
    }

    .stats-label {
      font-size: 42px;
      font-weight: bold;
      margin-top: 16px;
    }

    .books-count .stats-label {
      color: #939393;
    }

    .tsundoku .stats-label {
      color: rgba(241, 144, 131, 1.00);
    }

    .kidoku .stats-label {
      color: rgba(136, 170, 225, 1.00);
    }

    .stats-item.books-count {
      background: #E0E0E0;
    }

    .books-count {
      color: #4B4B4B;
    }

    .stats-item.tsundoku {
      background: rgba(255, 216, 212, 1.00);
    }

    .tsundoku {
      color: #E3402A;
    }

    .stats-item.kidoku {
      background: rgba(190, 212, 242, 1.00);
    }

    .kidoku {
      color: #2488D0
    }

    .logo-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 480px;
      margin: 16px;
    }

    .logo-item svg {
      width: 100%;
    }
  </style>

</html>